img.image1{
    width: 30%;
}
img.image2{
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  div.divone {
      height: 200px;
      width: 200px;
      background-color: aqua;
  }

  div.divtwo {
    height: 200px;
    width: 200px;
    background-color: blue;
}

table, th, td {
    border: 1px solid;
}

body {
    background-color: green;
}

body.home {
    background-color: aqua;
}

body.About {
    background-color: burlywood;
}

body.Contacts {
    background-color: cornsilk;
}

h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  p {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
